.home {
  outline: none;
  flex-grow: 1;
}

span {
  &:hover {
    color: #fff;
  }

  transition: color .5s;
}

.sub {
  display: flex;
  justify-content: space-between;
  align-items: center;

  >span {
    outline: none;
    padding-right: 15px;
    font-weight: 400;
  }

}
