.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    .container-login {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 10px;

      .sign {
        &-in,
        &-up {
          background-color: #fefefe;
          flex: 0 0 40%;
          min-height: 45px;
          outline: none;
          box-shadow: none;
          transition: background-color .3s;

          &--selected {
            color: #fff;
            background-color: dodgerblue;
          }
        }
      }
    }

    min-width: 300px;
    padding: 30px 10px;
    border: solid 1px #cecece;
    border-radius: 8px;
    background-color: #fff;

    input {
      margin-bottom: 10px;
    }

    button {
      width: 100%;
      margin-top: 10px;
    }

    .link {
      cursor: pointer;
    }

  }

}

@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
    padding: 0;

    .login {
      height: 100%;
      width: 100%;
    }
  }
}
