.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    min-width: 300px;
    padding: 30px 10px;
    border: solid 1px #cecece;
    border-radius: 8px;
    background-color: #fff;

    .sign-in {
      text-align: center;
    }

    input {
      margin-bottom: 10px;
    }

    button {
      width: 100%;
      margin-top: 10px;
    }

    .link {
      cursor: pointer;
    }

  }

}

@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
    padding: 0;

    .login {
      height: 100%;
      width: 100%;
    }
  }
}
