<div class="book-list">
  <app-page-title icon="fas fa-book" main="Book Record" sub="Bookstore Records"></app-page-title>

  <form [formGroup]="bookForm">
    <input type="hidden" class="form-control" formControlName="id">
    <div class="row">

      <div class="col-sm-12">
        <label>Isbn:</label>
        <input type="text" class="form-control" formControlName="isbn" placeholder="Input an isbn...">
        <div *ngIf="bookForm.touched && bookForm.get('isbn')?.hasError('required')" class="text-danger">
          Isbn is required
        </div>
      </div>

      <div class="col-sm-12">
        <label>Title:</label>
        <input type="text" class="form-control" formControlName="title" placeholder="Input a title...">
        <div *ngIf="bookForm.touched && bookForm.get('title')?.hasError('required')" class="text-danger">
          Title is required
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label>Author</label>
          <select class="form-control" formControlName="author" [compareWith]="compareTo">
            <option value="null" disabled seleted>Select an author</option>
            <option *ngFor="let author of authors" [ngValue]="author">
              {{author.name}}
            </option>
          </select>
          <div *ngIf="bookForm.touched && bookForm.get('author')?.hasError('required')" class="text-danger">
            Author is required
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <button class="btn  btn-primary" (click)="saveOrUpdate()" [disabled]="bookForm.invalid">Save</button>
      <button class="btn  btn-secondary ml-2" (click)="reset()">Cancel</button>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Isbn</th>
        <th>Title</th>
        <th>Author</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td scope="row" class="align-middle">{{book.id}}</td>
        <td scope="row" class="align-middle">{{book.isbn}}</td>
        <td scope="row" class="align-middle">{{book.title}}</td>
        <td scope="row" class="align-middle">{{book.author?.name}}</td>
        <td class="d-flex justify-content-center align-items-center">
          <button class="btn btn-outline text-success mr-2" (click)="loadBook(book)">
            <i class="fas fa-pen"></i>
          </button>
          <button class="btn btn-outline text-danger" (click)="delete(book)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center" *ngIf="loading$ | async">
    <div class="spinner-grow text-primary"></div>
    <div class="spinner-grow text-success"></div>
    <div class="spinner-grow text-danger"></div>
    <div class="spinner-grow text-warning"></div>
  </div>

</div>
