<div class="book-list">
  <form [formGroup]="bookForm">
    <input type="hidden" class="form-control" formControlName="id">
    <div class="row">

      <div class="col-sm-12">
        <label>Isbn:</label>
        <input type="text" class="form-control" formControlName="isbn" placeholder="Input an isbn...">
        <div *ngIf="bookForm.touched && bookForm.get('isbn')?.hasError('required')" class="text-danger">
          Isbn is required
        </div>
      </div>

      <div class="col-sm-12">
        <label>Title:</label>
        <input type="text" class="form-control" formControlName="title" placeholder="Input a title...">
        <div *ngIf="bookForm.touched && bookForm.get('title')?.hasError('required')" class="text-danger">
          Title is required
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label>Author</label>
          <select class="form-control" formControlName="author">
            <option value="">Select an author</option>
            <option *ngFor="let author of authors" [value]="author.id"> {{author.name}}</option>
          </select>
          <div *ngIf="bookForm.touched && categoryForm.get('author')?.hasError('required')" class="text-danger">
            Author is required
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <button class="btn  btn-primary" (click)="saveOrUpdate()" [disabled]="authorForm.invalid">Save</button>
      <button class="btn  btn-secondary ml-2" (click)="reset()">Cancel</button>
    </div>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Isbn</th>
        <th>Title</th>
        <th>Author</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of categories">
        <td scope="row">{{book.id}}</td>
        <td scope="row">{{book.isbn}}</td>
        <td scope="row">{{book.title}}</td>
        <td scope="row">{{book.author}}</td>
        <td scope="row"></td>
        <td d-flex justify-content-center>
          <button class="btn btn-warning mr-2" (click)="update(book)">
            <i class="fas fa-pen"></i>
          </button>
          <button class="btn btn-danger" (click)="delete(book)">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-center" *ngIf="loading$ | async">
    <div class="spinner-grow text-primary"></div>
    <div class="spinner-grow text-success"></div>
    <div class="spinner-grow text-danger"></div>
    <div class="spinner-grow text-warning"></div>
  </div>

</div>
